:root {
  --BROWN: #ece2d6;
  --ORANGE: #fc4c02;
}

.card-footer {
  background-color: inherit !important;
  border: 4px solid !important;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  width: 60%;
  padding: 0 0 12px 0 !important;
}

.card-footer-1 {
  border-image: linear-gradient(to right, #d70042, #594193) 3 !important;
}

.card-footer-2 {
  border-image: linear-gradient(to right, #7cc4ca, #7668a9) 3 !important;
}

.card-footer-3 {
  border-image: linear-gradient(to right, #76c3c9, #46b386) 3 !important;
}

.card-body {
  padding: 0 !important;
}

.card {
  border: 0;
}
